{% extends 'base.html' %}

{% block titulo_pagina %} Nuevo movimiento {% endblock %}

{% block contenido_pagina %}
            <h1>Borrado de movimiento</h1>

            <form action="/borrar/{{ id }}" method="post">
               {{ el_formulario.hidden_tag() }}  
                <div class="campo-formulario">
                    {{ el_formulario.fecha.label() }}
                    {{ el_formulario.fecha.data}}
                   
                </div>
                <div class="campo-formulario">
                    {{ el_formulario.concepto.label() }}
                    {{ el_formulario.concepto.data }}

                    
                </div>
                <div class="campo-formulario">
                    {% for subfield in el_formulario.ingreso_gasto %}
                        {{ subfield }} {{ subfield.label }}
                    {% endfor %}
                   
                </div>
                <div class="campo-formulario">
                    {{ el_formulario.cantidad.label() }}
                    {{ el_formulario.cantidad() }}
                    
                </div>

                {{ el_formulario.submit() }}
 
            </form>

{% endblock%}